@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf');
  font-weight: bold;
}

.App {
  text-align: center;
  font-family: 'OpenSans';
  max-width: 960px;
  position: relative;
  min-height: 620px;
}

img {
  width: 200px;
  cursor: pointer;
}

.letter {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}