.card {
    cursor: pointer;
    transition: 0.3s;

}

.card:hover {
    transform: scale(1.2);
    z-index: 10;
}

.card-header {
    color: white;
    background-color: #1E1E1E;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-size: 12px;
    margin-bottom: 5px;
}