.SearchInput {
    flex-basis: 350px;
}

.form-control {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .SearchInput {
        flex-basis: 200px;
    }
}

@media only screen and (max-width: 620px) {
    .SearchInput {
        display: none;
    }
}

